body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    text-align: center;
}

body .perro {
    background: blue;
}

input {
    height: 30px;
    width: 400px;
}

button {
    height: 30px;
    width: 100px;
    background: darkblue;
    border: 1px solid darkblue;
    color: #FFF;
}

.resultados {
    padding: 10px 40px;
    text-align: left;
}

.titulo {
    padding-bottom: 20px;
}